<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net461" />
  <package id="HttpParamsUtility" version="2.0.10" targetFramework="net461" />
  <package id="JSON" version="1.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MercadoLibreSdk" version="1.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
</packages>